* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #FFFFFF;

  --gray-50: #F8F8F8;
  --gray-100: #D7D7D7;
  --gray-200: #BBBBBB;
  --gray-900: #282C34;

  --pink: #FF57B2;
}

body {
  background: var(--gray-900);
  margin-bottom: 5rem;
}

h1, h2, h3, h4, h5, h6, p, span, a, li {
  font-family: 'Inter', sans-serif;
  color: var(--gray-200);
  font-weight: 400;
}

h1, h2 {
  font-weight: 800;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2.25rem;
}

p {
  font-size: 2.25rem;
}

p {
  font-size: 1.125rem;
}

a {
  text-decoration: none;
}